html, body{
   overflow: hidden;
   width:100%;
   height:100%;
   margin:0;
}

main{
   position: relative;
   width: 1667px;
   height: 2500px;
   transform-origin:left top;
}
section{
   position: absolute;
   overflow: hidden;
}

.clay{
   width:1667px;
   height:2500px;
   position: relative;
   transform-origin:left top;
   z-index:10;
}
.clay:after{
   position:absolute;
   top:0;
   left:0;
   bottom:0;
   right:0;
   content:"";
   background-image:url("clay_with_frame.png");
   z-index:20;
   background-size: cover;
}

.clay > .clay{
   transform: translate(1025px,1277px) scale(0.22);
}

.first_clay {
   left: calc(-1025px * 4.545454545454);
   top: calc(-1277px * 4.545454545454);
   transform: scale(4.545454545454);
}

.clay_zoomer{
   animation-name: scale_clay, position_clay;
   animation-duration: 1s;
   animation-timing-function: cubic-bezier(0.750, 0.315, 1.000, 1.000);  
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   position:absolute;
   transform-origin:left top;
   width: 1667px;
   height: 2500px;
}

@keyframes scale_clay {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(4.545454545454);
   }
}
@keyframes position_clay {
   from {
      left: 0;
      top: 0;
   }

   to {
      left: calc(-1025px * 4.545454545454);
      top: calc(-1277px * 4.545454545454);
   }
}
 