html, body{
   overflow: hidden;
   width:100%;
   height:100%;
   margin:0;
}

:root {
 /*  --img_w: 1667px;
   --img_h: 2500px;

   --pip_x: 1025px;
   --pip_y: 1277px;
   --pip_s: 0.22; /* scale */
/*
   --shift_s: calc(1/var(--pip_s));
   --shift_x: calc(-1 * var(--pip_x) * var(--shift_s));
   --shift_y: calc(-1 * var(--pip_y) * var(--shift_s));
   /*
   --shift_s: 4.545454545454545454;
   --shift_x: -4659.09090909090909px;
   --shift_y: -5804.54545454545454px;
   */
/**/
}
 
.clay_wrapper, .clay{
   position: relative;
/*   width: var(--img_w);
   height: var(--img_h); */
   width: 1667px;
   height: 2500px;
   transform-origin:left top;
   z-index: 10;
}
.clay:after{
   position:absolute;
   top:0;
   left:0;
   bottom:0;
   right:0;
   content:"";
   background-image:url("clay_with_frame.png");
   z-index:20;
   background-size: cover;
}

.clay > .clay{
/*   transform: translate(var(--pip_x),var(--pip_y)) scale(var(--pip_s)); */
   transform: translate(1025px,1277px) scale(0.22);
}

.first_clay {
 /*  transform: translate(var(--shift_x), var(--shift_y)) scale(var(--shift_s)); */
 /*  transform: translate(-4659.09090909090909px, -5804.54545454545454px) scale(4.545454545454545454); */
}

.clay_zoomer{
   animation: 1s cubic-bezier(0.750, 0.315, 1.000, 1.000) infinite zoom_clay;
   position:absolute;
   transform-origin:left top;
}
@keyframes zoom_clay{
   from {
      transform: scale(1);
   }
   to {
   /*   transform: translate(var(--shift_x), var(--shift_y)) scale(var(--shift_s)); */
      transform: translate(-4659.09090909090909px, -5804.54545454545454px) scale(4.545454545454545454);
   }
}